.bottomRight{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row-reverse;
}
.report{
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    background-color: #05141C;
    border: none;
    outline: none;
}
.report:hover{
    background-color: #1976D2;
    transition: all 0.3s ease-in-out;
}