.card {
  background: #1b2730;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}
.cardImg img {
  width: 300px;
  height: 300px;
  /* object-fit: cover; */
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footerContainer a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
.footerContainer a:hover {
  color: #3297d1;
}
.footerBottom {
  margin: 0;
  margin-top: 1rem;
  text-align: center;
}
