/* chat */
.mainChatContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .leftChatContent,
  .chatListHeader {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }
  .chatListHeader {
    border-bottom: 1px solid gray;
    padding: 0.25rem;
  }
  .chatListHeader i {
    font-size: 1.5rem;
  }
  .chatList {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: 1px 1px 20px 0px black;
    height: 600px;
  }
  .searchChat {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    background-color: #eef3f8;
    color: #000;
    border-radius: 5px;
  }
  .searchChat input {
    border: none;
    outline: none;
    padding: 0.15rem 0.25rem;
    background-color: #eef3f8;
    color: #000;
  }
  .friendList {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
  }
  .chatPerson {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .chatPerson img {
    width: 70px;
    border-radius: 50%;
  }
  .chatPerson:hover {
    background: #424f55;
  }
  #chat-window {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    box-shadow: 1px 1px 20px 0px black;
  }
  
  #chat-header {
    background-color: #05141c;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  #chat-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  #chat-header h2 {
    font-size: 18px;
    margin: 0;
  }
  
  #chat-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
    background: transparent;
  }
  
  .message {
    margin-bottom: 10px;
    max-width: 70%;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1.4;
  }
  
  .message.received {
    background-color: #f5f5f5;
    color: #05141c;
    align-self: flex-start;
  }
  
  .message.sent {
    background-color: #05141c;
    color: white;
    align-self: flex-end;
  }
  
  .message p {
    margin: 0;
  }
  
  .message .timestamp {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    display: block;
    text-align: right;
  }
  
  #chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  #input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
    outline: none;
  }
  
  #send-btn {
    padding: 10px;
    border: none;
    background-color: #3297d1;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
  }