.job-container {
  display: grid;
  width: 90%;
  margin: 0 auto;
  margin-top: 7rem;
  grid-template-columns: 2.5fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.job-container {
  grid-template-columns: 1fr 1.5fr 1fr;
  color: #cacaca;
}

.connectProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.connectProfile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.connectInfo {
  display: flex;
  flex-direction: column;
}
.connectSuggestion button {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.connectSuggestion button:hover {
  background-color: white;
  color: #05141c;
  font-weight: bold;
}

.connectSuggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.jobLabel {
  display: block;
  margin-bottom: 5px;
}

.jobInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.submitButton {
  padding: 0.5rem 0.5rem;
  background-color: #40a8e4;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.submitButton:hover {
  background-color: #029ffa;
  color: white;
}

.job-card-container {
  color: #cacaca;
  gap: 1rem;
}

.job-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.job-card > .company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.company-info {
  --job-visibility-display: none;
}

.job-visibility {
  display: var(--job-visibility-display);
}
.company-info:hover {
  --job-visibility-display: block;
}

.company-info > .company-name {
  font-size: 14px;
}

.company-info > .company-location {
  font-size: 14px;
}

.company-info > .posted-time {
  font-size: 13px;
}

.job-icon,
.job-icon:hover {
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

.job-icon:hover {
  cursor: pointer;
}

.job-helper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #cacaca;
}
.card {
  background: #1b2730;
  color: white;
  border-radius: 10px;
  padding: 1rem;
}
