.tablebg {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 20px 20px;
  background-color: #1b2730 !important;
}
table thead tr {
  background: #05141C;
  border-bottom: 2px solid black;
  text-align: left;
  font-weight: bold;
}
.tablebg th,
.tablebg td {
  padding: 12px 15px;
}

.tablebg tbody tr.active {
  font-weight: bold;
  color: #4ad489;
}
.tablebg tbody tr:last-of-type {
  border-bottom: 2px solid #1b2730;
}
.tablebg button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ddd;
}
.tablebg button:hover {
  background: black;
  color: #fff;
  transition: 0.5rem;
}

.profileImg > img {
  width: 50px;
  height: 50px;
  margin-right: 5%;
  border-radius: 50%;
}

.searchEmail{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}