.ChatBox-container {
    background: #1B2730;
    height: auto;
    max-height: 85vh;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 3.7fr 1fr;
}

.chat-header {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}

.chat-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    overflow: scroll; /* Use 'auto' instead of 'scroll' */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

/* For WebKit browsers (like Chrome, Safari) */
.chat-body::-webkit-scrollbar {
    width: 5px;
}

.chat-body::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.message {
  background: #f5f5f5;
  color: #05141c;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message>span:nth-child(2){
    font-size: 0.7rem;
    color: var(--textColor);
    align-self: end;
}

.own {
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
  background: #05141c;
  color: #f5f5f5;
}



.chat-sender {
    background: white;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    align-self: end;
}
.chat-sender>input{
    height: 70%;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex  :1 ;
    font-size: 14px;
    padding: 0px 15px 0px 15px;
}
.chat-sender>div:nth-of-type(1)
{
    background: rgb(233, 233, 233);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
.chat-sender>div{
    height: 70%;
    padding: 0px 15px 0px 15px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: #3297d1;
    transition: all 100ms ease-out;
}

.button:hover {
    color: #3297d1;
    border: 2px solid #3297d1;
    cursor: pointer;
    background: transparent;
}

.button:disabled{
    background: silver;
    pointer-events: none;
}